 
/* about page
 
hero section*/
 
.hero-about {
  background-image: url(../../assets/image/dinning-hero.jpg);
  height: 427px;
  width: 100%;
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
  background-position: center;
  background-size: cover;
}
 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14141499;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.hero-content {
  text-align: center;
  z-index: 2;
  width: 550px;
}
 
.text {
  font-size: 32px;
  margin: 0;
}
 
.p-text {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}
 
/* welcome */
 
.welcome {
  padding: 60px;
}
 
.blue-text {
  color: #034177;
}
 
.width600 {
  max-width: 550px;
}
 
.gray-text {
  color: #14141499;
}
 
/* about-us */
 
.max-width1100 {
  max-width: 1000px;
}
 
.lorem {
  font-size: 18px;
}
 
.pool-video {
  background-image: url(../../assets/image/wonderlust.jpg);
  height: 433px;
  width: 100%;
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
  background-position: center;
  background-size: cover;
}
 
.wanderlust {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14141499;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* why choose us */
 
.icons-layer {
  background-image: url(../../assets/image/circle.png);
  /* background-color: #0341770D; */
  position: relative;
  height: 105px;
  width: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.main-icon svg {
  display: block;
  color: #1a2f41;
  font-size: 50px;
}
 

 
.mid-text {
  font-size: 20px;
}
 
.pad-right {
  padding-right: 30px;
}
 
.fs-10 {
  font-size: 14px;
}
 
.arraow {
  height: 25px;
  width: 25px;
  color: #034177;
}








 