.faq-container {
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.faq-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion-button {
    position: relative;
    background-color: white !important;
    font-weight: 500;
    font-size: 1rem;
    padding: 18px !important;
    color: #333;
    box-shadow: none !important;
    border-bottom: 1px solid #eee;
  }

  .accordion-button::after {
    content: '+' !important;
    font-size: 23px;
    background-image: none !important;
    transform: none !important;
    color: #4e4e4e !important; 
    font-weight: bold;
  }

.accordion-button:not(.collapsed)::after {
  content: '−' !important; 
  color: #034177 !important; 
}

.accordion-body {
    font-size: 0.95rem;
    color: #555;
    padding: 1rem 1.25rem;
    border-top: 1px solid #eee;
}

.box-shadow {
    box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.small-shadow {
    box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.08) !important;
    border-radius: 5px;
}

.selected-row {
    background-color: rgba(3, 65, 119, 1) !important;
    border-bottom: none !important;
    color: white;
}

.selected-row h5 {
    color: white !important;
}

.all-row {
    padding: 22px 30px;
    gap: 25px;
    background-color: white;
}